// color variants
@import 'themes-vars.module.scss';

// third-party
@import '~react-perfect-scrollbar/dist/css/styles.css';
@import ' ~slick-carousel/slick/slick.css';
@import ' ~slick-carousel/slick/slick-theme.css';
@import 'react-responsive-carousel/lib/styles/carousel.min.css';

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
    z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
    margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
    .ps__rail-y {

        &:hover>.ps__thumb-y,
        &:focus>.ps__thumb-y,
        &.ps--clicking .ps__thumb-y {
            background-color: $grey500;
            width: 5px;
        }
    }

    .ps__thumb-y {
        background-color: $grey500;
        border-radius: 6px;
        width: 5px;
        right: 0;
    }
}

.scrollbar-container.ps,
.scrollbar-container>.ps {
    &.ps--active-y>.ps__rail-y {
        width: 5px;
        background-color: transparent !important;
        z-index: 999;

        &:hover,
        &.ps--clicking {
            width: 5px;
            background-color: transparent;
        }
    }

    &.ps--scrolling-y>.ps__rail-y,
    &.ps--scrolling-x>.ps__rail-x {
        opacity: 0.4;
        background-color: transparent;
    }
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -5px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -7px, 0);
    }

    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }

    90% {
        transform: translate3d(0, -2px, 0);
    }
}

@keyframes slideY {

    0%,
    50%,
    100% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(10px);
    }
}

@keyframes slideX {

    0%,
    50%,
    100% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(10px);
    }
}

.dialog-title {
    font-weight: 90;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #1877f2;
    background: -moz-linear-gradient(top, #516a9f, #1877f2);
    background: -ms-linear-gradient(top, #516a9f, #1877f2);
    background: -webkit-linear-gradient(top, #516a9f, #1877f2);
    padding: 10px;
    border-radius: 4px;
    align-items: center;
}

.btnSave {
    background-color: #1877f2;
    background: -moz-linear-gradient(top, #3b5998, #1877f2);
    background: -ms-linear-gradient(top, #3b5998, #1877f2);
    background: -webkit-linear-gradient(top, #3b5998, #1877f2);
}

.btnClear {
    background-color: gray;
    background: -moz-linear-gradient(top, gray, gray);
    background: -ms-linear-gradient(top, gray, gray);
    background: -webkit-linear-gradient(top, gray, gray);
    /* background: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%); */
}

.css-1nvdc5e-MuiCardHeader-root {
    padding: 10px !important;
    margin-left: 30px !important;
}

body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
    height: 24px;
}

body::-webkit-scrollbar-thumb {
    background-color: #055c9d;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    // border: 3px solid orange; /* creates padding around scroll thumb */
}

.css-uw9m7k-MuiTableCell-root {
    padding: 5px !important;
}

div.MuiCalendarPicker-root {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden !important;

}


.MuiCalendarPicker-root .css-169iwlq-MuiCalendarPicker-root {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.css-169iwlq-MuiCalendarPicker-root {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

